*.class
*.log
*.idea
.idea/

# checkpoints
checkpoint/

# Package Files #
*.war
*.ear


# sbt specific
.cache
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.project
.classpath

# MacOS
.DS_Store
als/src/main/scala/Solution.scala
